/* 

    This is your chance to color up the debug UI!!! 

*/

.HelpText {
    color: gray;
    font-size: 14px;
}

code {
    white-space: nowrap !important;
}

.buttonclick {
    cursor: pointer;
    color: green;
}

/* 
FOOTER STYLES!!!!!! 
*/

.footer-row {
    padding-top: 50px;
    margin-bottom: 100px;
}

.FooterHeading {
    color: green;
    font-size: 12px;
    font-weight: bold;
}

.FooterSysInfo {
    color: gray;
    cursor: default;
}

.FooterSysInfo:hover {
    color: silver !important;
    cursor: hand;
}